body,
html {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        to top right,
        rgba(2, 0, 36, 1) 0%,
        rgba(110, 9, 121, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 50px;
}

:root {
    --color: red;
    --primary-color: rgba(123, 37, 44, 0.7);
    --size: 121px;
    --base-font-size: 15px;
    --large-font-size: 1.85em;
    --number-of-columns: 4;
    --golden-ratio: 1.618;
}

#headings > label {
    font-size: calc(var(--base-font-size) * 2);
    padding-top: 50px;
    margin-top: 50px;
}

#headings {
    margin-top: 50px;
}
h1 {
    /* Available to all h1 and their descendants */
    font-size: calc(var(--base-font-size) * 4.5);
}
h2 {
    font-size: calc(var(--base-font-size) * 4);
}

h3 {
    font-size: calc(var(--base-font-size) * 3.5);
}

h4 {
    font-size: calc(var(--base-font-size) * 3);
}

h5 {
    font-size: calc(var(--base-font-size) * 2.5);
}

h6 {
    font-size: calc(var(--base-font-size) * 2);
}

.title {
    font-size: 20px;
    color: purple;
    margin: 10px;
}

li {
    list-style-type: none;
    /* display: inline; */
}

button {
    --bg-color: #fff;
    --fg-color: black;

    padding: 0.5em 0.75em;
    background-color: var(--bg-color);
    border: 1px solid;
    color: var(--fg-color);
    border-radius: 0.5em;
    font-size: 1em;
    transition: 300ms;
}

button:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

button.btn-primary {
    background-color: lightblue;
    color: white;
    cursor: pointer;
}

button.btn-primary:hover {
    background-color: white;
    color: lightblue;
    cursor: pointer;
}

button.btn-secondary {
    background-color: rgba(169, 169, 169);
    color: white;
    cursor: pointer;
}

button.btn-secondary:hover {
    background-color: white;
    color: rgba(169, 169, 169);
    cursor: pointer;
}

button.btn-success {
    background-color: rgba(131, 245, 44);
    color: white;
    cursor: pointer;
}

button.btn-success:hover {
    background-color: white;
    color: rgba(131, 245, 44);
    cursor: pointer;
}

button.btn-danger {
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    cursor: pointer;
}

button.btn-danger:hover {
    background-color: white;
    color: rgba(255, 0, 0);
    cursor: pointer;
}

button.btn-warning {
    background-color: #ffcc00;
    color: white;
    cursor: pointer;
}

button.btn-warning:hover {
    background-color: white;
    color: #ffcc00;
    cursor: pointer;
}
button.btn-info {
    background-color: turquoise;
    color: white;
    cursor: pointer;
}

button.btn-info:hover {
    color: turquoise;
    background-color: white;
    cursor: pointer;
}

button.btn-light {
    background-color: white;
    color: black;
    cursor: pointer;
}

button.btn-light:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
    cursor: pointer;
}

button.btn-dark {
    background-color: black;
    color: white;
    cursor: pointer;
}

button.btn-dark:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

button.btn-link {
    text-decoration: none;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}

button.btn-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

form {
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

input,
textarea {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    border: 2px solid #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    resize: none;
    outline: none !important;
    display: block;
    margin: 0px 0px 15px 0px;
}
::placeholder {
    color: white;
    font-size: 10px;
}

textarea {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    height: 30px;
    text-align: center;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
}

input[type="submit"],
button[type="submit"] {
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1000px;
    padding-left: 1em;
    font-size: 15px;
    border-radius: 10px;
    border-radius: 0px 0px 0px 7px;
    background: #466368;
    background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
}

.navbar > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: baseline;
}

.navbar a {
    display: inline-block;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: yellow;
}
